<nav id="nav">
    <ul>
        <li><a href="{{ path('eleve') }}">Accueil</a></li>
        <li><a href="{{ path('eleve_listeEntreprise') }}">Liste des entreprises</a></li>
        <li><a href="{{ path('eleve_listeTuteur') }}">Liste des tuteurs</a></li>
        <li><a href="{{ path('ajout_stage') }}">J'ai un stage !</a></li>
        <li><a href="{{ path('eleve_aide') }}">Aide</a>
        <li><a href="{{ path('accueil') }}" class="button">Déconnexion</a></li>

    </ul>
</nav>