<nav id="nav">
    <ul>
        <li><a href="{{ path('professeur') }}">Accueil</a></li>
        <li><a href="{{ path('professeur_listes') }}">Voir la liste des stages</a></li>
        <li><a href="{{ path('professeur_listesEleves') }}">Voir la liste des élèves</a></li>
        <li><a href="{{ path('professeur_aide') }}">Aide</a>
        <li><a href="{{ path('accueil') }}" class="button">Déconnexion</a></li>
    </ul>

</nav>